<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="sushma_modd3_productpageobserver" instance="Sushma\Modd3\Observer\ProductPageObserver"/>
    </event>

   <!-- <event name="controller_action_postdispatch">
       <observer name="sushma_modd3_pageReloadObserver" instance="Sushma\Modd3\Observer\PageReloadObserver"/>
   </event> -->
   <!-- <event name="catalog_controller_product_view">
       <observer name="sushma_modd3_log_product_details" instance="Sushma\Modd3\Observer\LogProductDetails" />
   </event> -->

</config>
