<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="layout_change" frontName="layout_change">
            <module name="Sushma_Mod7" />
        </route>
    </router>
</config>