<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_Config::parent_menu" title="Custom Menu" module="Custom_Config" sortOrder="50" resource="Magento_Backend::content"/>
        <add id="Custom_Config::submenu_item" title="Submenu Item" module="Custom_Config" sortOrder="10" action="custom/index/displaytext" parent="Custom_Config::parent_menu" resource="Magento_Backend::content"/>
    </menu>
</config>